.content,
.darkContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 2%;
}

.container {
  display: flex;
  align-self: center;
  margin: 0 2%;
}

.monthTitle {
  margin-top: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  font-family: 'Prompt', sans-serif;
  border-collapse: collapse;
}

.table td {
  width: 95px;
  height: 45px;
  text-align: center;
  border: 1px solid #c7c6c6;
}

.darkContent .table td {
  border: 1px solid #565555;
}

.table th {
  position: sticky;
  top: 0;
  height: 50px;
  font-weight: 500;
  background: linear-gradient(180deg, #242024 0%, rgba(35, 31, 33, 1) 100%);
  color: #ffffff;
  z-index: 1;
}

.currentDate {
  color: #e4ac59;
}

.tr td:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.darkContent .tr div:hover,
.darkContent .tr td:hover {
  background-color: #3f3f3f;
  cursor: pointer;
  color: #ffffff;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.div p {
  font-size: 0.7rem;
  margin: 0px;
}

.subscription {
  background-color: #cff9d2;
}

.subscription:hover {
  background-color: #8dbd91;
}

.content select {
  width: 200px;
  height: 30px;
}

.filter {
  display: flex;
  margin: 0 2%;
}

.filter select {
  max-width: 15vw;
  height: 30px;
  margin-right: 10px;
  color: #242024;
  border: 1px solid #242024;
  border-radius: 5px;
}

.filter label {
  display: block;
  padding: 5px;
  color: #242024;
  font-weight: 700;
  font-size: 1rem;
}

.text {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #242024;
}

.darkText {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: #cdcdcd;
}

::-webkit-scrollbar-thumb {
  background-color: #242024;
  border-radius: 100px;
}

.darkContent ::-webkit-scrollbar-track {
  background-color: #19191B;
}

.darkContent ::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 100px;
}

.darkContent ::-webkit-scrollbar-thumb:hover {
  background-color: #cd933c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e4ac59;
}

.arrows {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  margin-bottom: 5px;
  cursor: pointer;
}

.arrows span {
  font-weight: 500;
  margin-left: 5px;
}

.arrows:hover .left,
.arrows:hover .right,
.arrows:hover span {
  color: #ff4545;
}

.arrowsContainer {
  margin: 0.5em 2%;
}

.filtered {
  opacity: 0.35;
}

.darkContent select,
.darkContent option {
  background-color: #19191B;
  color: #fff;
}

.darkContent h2,
.darkContent span,
.darkContent label,
.darkContent .div,
.darkContent td,
.darkContent .right,
.darkContent .left,
.darkContent option,
.darkContent select {
  color: #fff;
  transition: background-color 1s;
  transition: color 0.5s;
}

.content h2,
.content span,
.content label,
.content .div,
.content td,
.content .right,
.content .left {
  transition: background-color 1s;
  transition: color 0.5s;
}

.darkContent .subscription {
  color: #19191B;
  background-color: #65d26c;
}

.darkContent .subscription:hover {
  background-color: #8dbd91;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  top: var(--percentage, 0%);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cb1d1d;
  transform: translateY(50%);
}

.current::before {
  content: "";
  position: absolute;
  top: calc(var(--percentage, 0%) + 2.5px);
  left: 0px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #cb1d1d;
  transform: translate(-50%, -50%);
}