.container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 80vw;
  height: 60vh;
  overflow: auto;
}

.table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(255, 255, 255);
}

.table td {
  height: 60px;
  padding: 8px;
  text-align: center;
  border: 1px solid #68849f;
}

.table th {
  position: sticky;
  top: 0;
  width: 110px;
  height: 40px;
  padding: 10px;
  z-index: 1;
  background-color: black;
}

.tr {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.tr td:hover {
  background-color: #68849f;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
