.container {
  display: flex;
  align-self: center;
  width: 70vw;
  height: 60vh;
  overflow: auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #16222A;
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  background: linear-gradient(to right, #3A6073, #16222A);
  color: rgb(255, 255, 255);
}

.table td {
  width: 110px;
  height: 60px;
  text-align: center;
  border: 1px solid #68849f;
}

.table th {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: black;
  z-index: 1;
}

.tr td:hover {
  background-color: #33556b;
  cursor: pointer;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.content select {
  width: 200px;
  height: 30px;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.filter select {
  width: 25vw;
  height: 30px;
  margin-right: 10px;
  color: #373867;
  border: 1px solid #373867;
  border-radius: 5px;
}

.filter label {
  display: block;
  padding: 5px;
  color: #373867;
  font-weight: 700;
  font-size: 1rem;
}