.button {
  width: 8rem;
  height: 2.8rem;
  margin: 2rem;
  font-weight: 600;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.addButton {
  color: #373867;
  background-color: #aace9b;
}
.submitButton {
  color: #373867;
  background-color: #aace9b;
}
.deleteButton {
  color: #fdfdfd;
  background-color: #d10202;
}
.cancelButton {
  color: #fdfdfd;
  background-color: #403f3f;
}
.icon {
  width: 1rem;
  cursor: pointer;
}
.button[disabled] {
  cursor: auto;
}

.resetContainer {
  display: flex;
  align-items: center;
  align-self: center;
  width: fit-content;
  cursor: pointer;
  font-family: 'Prompt', sans-serif;
}

.resetContainer:hover .reset {
  color: red;
}

.reset {
  height: 1.35rem;
  color: #403f3f;
}
