.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
}

.h2 {
  padding: 2%;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #373867;
}
