table{
  width: 100%;
  border-collapse: collapse;
}
thead{
  color: navy
}
tr{
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 40px;
  line-height: 40px;
  border-bottom: thin solid;
}