.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 70%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 5px 8px 0 #33333333, 0 7px 20px 0 #2b2b2b2b;
  background-color: #f4f4f4;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  font-family: 'Roboto', Arial, serif;
  font-size: 17px;
  line-height: 1.6;
}

.formTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #373867;
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.formTitle h2 {
  margin-left: 2%;
}

.closeButton {
  margin-right: 2%;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.flex {
  width: 25vw;
  height: 30px;
  margin: 1rem 10px 1rem 0;
  color: #373867;
  border-radius: 5px;
}

.label {
  color: #373867;
  font-weight: 700;
  font-size: 1rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
  font-size: 0.8rem;
}