.container {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.darkContainer {
  min-height: 50vh;
  background-color: #302c30;
  transition: background-color 1s;
}

.darkContainer .text {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.text {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #242024;
}

.darkText {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.title {
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #242024;
}

.darkContainer .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.loader {
 display: flex;
 align-items: center;
 justify-content: center;
}

.table {
  max-width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
}

.thead {
  background-color: #d9d9d9;
  transition: background-color 1s;
}

.darkContainer .thead {
  background-color: #19191b;
  transition: background-color 1s;

}

.th {
  width: 25%;
  padding: 13px;
  vertical-align: middle;
  color: #242024;
  font-size: 1rem;
  font-weight: 700;
}

.darkContainer .th {
  width: 25%;
  padding: 13px;
  vertical-align: middle;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}


.td {
  padding: 13px 22px;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.darkContainer .td {
  padding: 13px 22px;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.tr:nth-child(2n) {
  background-color: #f2f2f2;
  transition: background-color 1s;

}

.darkContainer .tr:nth-child(2n) {
  background-color: #19191b;
  transition: background-color 1s;

}

.button {
  width: 1rem;
  padding: 8px 12px;
  vertical-align: middle;
  text-align: center;
}

.buttonContainer button {
  width: 100%;
  margin: 0;
  font-size: 0.9rem;
}