.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalError {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 9%;
  padding: 10px 5px 10px 20px;
  background-color: rgb(255, 134, 134);
  opacity: 0.8;
  padding: 5px;
  border-radius: 4px;
}

.modalSuccess {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 9%;
  padding: 10px 5px 10px 20px;
  font-weight: 700;
  background-color: rgb(93, 255, 101);
  opacity: 0.7;
  border-radius: 4px;
}

.error {
  align-self: center;
  margin: 0;
  font-weight: 600;
  color: rgb(18, 20, 22);
}

.closeModal {
  align-self: flex-start;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  font-size: 1rem;
  cursor: pointer;
}

.closeModal:hover {
  color: black;
}