.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2%;
  font-family: 'Roboto', Arial, serif;
}

.welcomeSection {
  padding: 3% 0 8% 0;
  margin-top: 0;
  text-align: center;
  margin-bottom: 5%;
  background-color: #13133c;
  background: linear-gradient(to bottom, #13133c, white);
}

.brandName {
  font-size: 2.5rem;
  color: #fff;
  padding: 2%;
}

.brandDescription {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 20px;
  padding: 0 10% 5% 10%;
}

.button {
  padding: 15px 25px;
  background-color: #f88d5c;
  color:#13133c;
  border: none;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.featuresSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 10%;
  padding: 2% 0;
  background-color: #dedeef93;
}

.feature {
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}
.tier{
  display: flex;
  margin: 0 auto;
  font-size: 2rem;
}
.icon {
  font-size: 2rem;
  color: #f88d5c;
  margin-bottom: 10px;
}

.h2 {
  font-size: 1.2rem;
  color: #242024;
  margin-bottom: 10px;
}

.p {
  font-size: 1.1rem;
  color: #242024;
}

.aboutSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 10%;
}
.about_col_1, .about_col_2{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.aboutSection p, .aboutSection img{
  width: 45%;
}

.about_col_1 p{
  padding: 0 0 0 2%;
  align-self: flex-start;
  text-align: left;
  font-size: 1.2rem;
}
.about_col_2 p{
  padding: 0 2% 0 0;
  align-self: flex-end;
  text-align: right;
  font-size: 1.2rem;
}
.about_col_1 img{
  border-radius: 100px 100px 100px 0;
}
.about_col_2 img{
  border-radius: 100px 100px 0 100px;
}

.membershipsSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% 0 5% 0;
  cursor: pointer;
}

.membershipCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  padding-top: 5%;
  background-color: #dedeef ;
  border-radius: 50px;
  box-shadow: 2px 2px 4px #00000033;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.membershipCard:hover {
  transform: translateY(-10px);
}

.price{
  margin: auto;
  margin-bottom:0;
  bottom: 0;
  background-color: #f88d5c;
  color: #fff;
  border-radius: 100px;
  width: fit-content;
  padding: 5% 10%;
  font-size: 1.2rem;
  font-weight: 600;
  color: #242024;
}

.h3 {
  font-size: 2rem;
  color: #242024;
  margin: auto;
  margin-bottom: 20px;
}

.ul {
  text-align: left;
  font-size: 1.1rem;
  color: #242024;
}

.ul li {
  list-style: none;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .brandName{
    font-size: 2rem;
  }
  .brandDescription{
    font-size: 1.2rem;
  }
  .aboutSection {
    flex-direction: column;
  }
  .about_col_1, .about_col_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .aboutSection p, .aboutSection img{
    width: 100%;
  }
  .about_col_1 p, .about_col_2 p{
    text-align: center;
  }

  .membershipCard,
  .feature {
    width: 100%;
  }
  .h3{
    font-size: 1.5rem;
  }
}