.content {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 5% auto;
  margin-top: 30px;
  height: 100%;
  width: 70%;
  border-radius: 7px;
  box-shadow: 0 5px 8px 0 #33333333, 0 7px 20px 0 #2b2b2b2b;
  background-color: #f4f4f4;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  font-family: 'Roboto', Arial, serif;
  font-size: 17px;
  line-height: 1.6;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}

.darksignup form, .darksignup .formTitle {
  background-color: #19191B;
  color: #fff;
  box-shadow: 0px 2px 2px #ffffff40;
}

.darksignup label {
  color: #fff;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
}

.input {
  display: flex;
  justify-content: center;
}

.imgButtonPassword {
  margin-top: 5px;
}

.imgButtonPassword {
  cursor: pointer;
}

.header h2 {
  margin: 0;
  align-self: center;
  font-size: 25px;
  line-height: 2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242024;
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.formTitle {
  display: flex;
  justify-content: space-between;
  background: #242024;
  color: #fff;
}

.formTitle h2 {
  margin-left: 2%;
}

.formTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242024;
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #242024;
}

.closeButton {
  margin-right: 2%;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.label {
  display: block;
  padding: 5px;
  color: #242024;
  font-weight: 700;
  font-size: 1rem;
}

.select {
  height: 36px;
  margin-right: 10px;
  color: #242024;
  border: 1px solid #242024;
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-family: 'Roboto', Arial, serif;
  font-size: 17px;
  line-height: 1.6;
}

.label_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordInput{
  display: flex;
}

.passwordField {
  width: 90%
}

/* Styling for the eye icon */
.btnVisibilityPassword {
  transform: translate(10px, 40px);

}

.close_button {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .inputContainer, .buttonContainer{
    flex-direction: column;
  }
}