.content {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 5% auto;
  height: 100%;
  width: 70%;
  border-radius: 7px;
  box-shadow: 0 5px 8px 0 #00000033, 0 7px 20px 0 #0000002b;
  animation-name: modalopen;
  animation-duration: 1.5s;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.header h2 {
  margin: 0;
  align-self: center;
  font-size: 25px;
  line-height: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #373867;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #373867;
}

.label {
  display: block;
  padding: 5px;
  color: #373867;
  font-weight: 700;
  font-size: 1rem;
}

.select {
  width: 25.5vw;
  height: 36px;
  margin-right: 10px;
  color: #373867;
  border: 1px solid #373867;
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-family: 'Roboto', Arial, serif;
  font-size: 17px;
  line-height: 1.6;
}

.label_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close_button {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.8rem;
}