.content {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 15% auto 5%;
  height: 100%;
  width: 70%;
  border-radius: 7px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}

.darksignup form, .darksignup .formTitle {
  background-color: #19191B;
  color: #fff;
  box-shadow: 0px 2px 2px #ffffff40;
}

.darksignup label {
  color: #fff;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inputPassword {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  width: 40%;
}

.btnVisibilityPassword {
  display: flex;
  align-items: center;
  width: 5%;
}

.imgButtonPassword {
  cursor: pointer;
}

.header h2 {
  margin: 0;
  align-self: center;
  font-size: 25px;
  line-height: 2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242024;
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.formTitle h2 {
  margin-left: 2%;
}

.formTitle {
  display: flex;
  justify-content: space-between;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #242024;
}

.closeButton {
  margin-right: 2%;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.label {
  display: block;
  padding: 5px;
  color: #242024;
  font-weight: 700;
  font-size: 1rem;
}

.select {
  width: 25.5vw;
  height: 36px;
  margin-right: 10px;
  color: #242024;
  border: 1px solid #242024;
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-family: 'Roboto', Arial, serif;
  font-size: 17px;
  line-height: 1.6;
}

.label_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close_button {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.8rem;
}