.subsContainer .title {
  font-size: 2rem;
  text-align: center;
  color: #000;
}

.subsDarkContainer .title {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.subsContainer ::placeholder {
  color: #000;
}

.subsDarkContainer label, .subsDarkContainer .icon {
  color: #fff;
}

.subsDarkContainer input {
  background-color: #242024;
  color: #fff;
}

.subsDarkContainer ::placeholder {
  color: #a2a0a2;
}

.containerLoader {
  display: flex;
  justify-content: center;
}

.subsContainer .container, .subsDarkContainer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 90vw;
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
}

.subTableContainer {
  display: flex;
  justify-content: center;
}

.tableSubscription {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-spacing: 0 5px;
}

.subsContainer .containerThead th {
  text-align: center;
}

.subsDarkContainer .containerThead th {
  color: #fff;
}

.thead th {
  position: sticky;
  top: 0;
  padding-bottom: 5px;
  background-color: #fff;
  transition: background-color 1s;
}

.subsDarkContainer .thead th {
  position: sticky;
  top: 0;
  padding-bottom: 5px;
  background-color: #302c30;
}

.item {
  height: 40px;
  text-align: center;
  color: #242024;
  background-color: #ebebeb;
  font-size: 1rem;
  font-weight: 400;
}

.filterContainer {
  display: flex;
  margin-left: 5%;
}

.filter {
  text-align: center;
  color: #242024;
  font-size: 21px;
  font-weight: bold;
}

.filterDark {
  color: #fff;
}

.inputContainer {
  display: flex;
}

.subsContainer .filter {
  text-align: center;
  color:#242024;
  font-size: 21px;
  font-weight: bold;
}

.filterInput {
  width: 15rem;
  margin: 1rem;
  border: 1px solid #242024;
  border-radius: 3px;
}

.icon {
  margin-top: 37px;
  margin-left: 10px;
}

.item:not(.selected):nth-child(odd) {
  background-color: #ffffff;
  transition: background-color 1s;
}

.item:not(.selected):nth-child(odd):hover {
  background-color: #c4bcbc;
}

.item:not(.selected):nth-child(even) {
  background-color: #ebebeb;
  transition: background-color 1s;
}

.item:not(.selected):nth-child(even):hover {
  background-color: #c0b6b6;
}

.subsDarkContainer .item:not(.selected):nth-child(odd) {
  background-color: #302c30;
  transition: background-color 1s;
  color: #fff;
}

.subsDarkContainer .item:not(.selected):nth-child(even) {
  background-color: #19191b;
  transition: background-color 1s;
  color: #fff;
}