.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableSubscription {
  width: 90%;
  border-spacing: 0 5px;
}

.containerThead th {
  text-align: center;
}

.row {
  height: 40px;
  text-align: center;
  color: #373867;
  background-color: #ebebeb;
  font-size: 1rem;
  font-weight: 400;
}

.row:not(.selected):nth-child(odd) {
  background-color: #ffffff;
}

.row:not(.selected):nth-child(odd):hover {
  background-color: #c4bcbc;
}

.filterContainer {
  display: flex;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 1%;
}

.filter {
  text-align: center;
  color:#373867;
  font-size: 21px;
  font-weight: bold;
}

.filterInput {
  width: 15rem;
  margin: 1rem;
  border: 1px solid #373867;
  border-radius: 3px;
}

.icon {
  margin-top: 37px;
}

.itemButtonEdit:hover {
  background-color: #aace9e;
}

.row:not(.selected):nth-child(even) {
  background-color: #ebebeb;
}

.row:not(.selected):nth-child(even):hover {
  background-color: #c0b6b6;
}