.row {
  border-bottom: 1px solid #000000;
}

.align {
  text-align: center;
  line-height: 2rem;
}

.edit {
  padding: 0 2rem;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  color: rgb(13, 177, 13);
}

.delete {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  color: red;
}