.table {
  width: 65%;
  align-self: flex-start;
  border-collapse: collapse;
  border-spacing: 15px 15px;
}

.table-header {
  color: #373867;
}

.table-row {
  height: 2.5em;
  text-align: center;
  border-bottom: 1px solid #707070;
}

.table-buttons {
  width: 17.5px;
  height: 17.5px;
  cursor: pointer;
}
