.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  height: 120px;
  width: 400px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.modal h3 {
  color: green;
}

.modal p {
  color: green;
  font-weight: 500;
}

.btnEdit{
  display: flex;
  justify-content: flex-end;
}

.btnEdit button{
  width: 80px;
  height: 25px;
  color: white;
  background-color: green;
  border: none;
}