table {
  width: 100%;
  border-spacing: 0 5px;
}

tr {
  height: 40px;
  text-align: center;
  color: #373867;
  background-color: #EBEBEB;
}

tbody tr {
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

tbody tr:nth-child(odd):hover {
  background-color: #c4bcbc;
}

tbody tr:nth-child(even) {
  background-color: #EBEBEB;
}

tbody tr:nth-child(even):hover {
  background-color: #c0b6b6;
}

.selected {
  background-color: #373867;
  color: #FFFFFF;
}

.tableContainer {
  overflow-y: scroll;
  height: 50vh;
  width: 90vw;
  margin-bottom: 10px;
}
button{
  margin:10px
}
button img{
  width: 20px;
}
.inputEdit{
  width: 150px
}