.container{
  margin: auto;
  width: 35vw;
  background-color: white;
  box-shadow: 0px 10px 23px #1E1E1E;
  border-radius: 5px;
}
.modalTitle{
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #373867;
}
.title{
  color: white;
}
.close{
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  border-width: 0;
  padding: 0;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 5%;
}
