.title{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #373867;
}
.cardContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border: 1px solid #373867;
  border-radius: 5px;
  padding: 10px;
  margin: 25px 15px;
  width: 35%;
  background-color: #D9D9D9 ;
}
.card:hover{
  background-color: #373867;
  color: #fff;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
}
