.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 60%;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  background-color: #373867;
  border-radius: 0.5rem 0.5rem 0 0;
}

.h3 {
  margin: 1rem;
  font-size: 1.4rem;
  color: #ffffff;
}

.close {
  margin: 1rem;
  cursor: pointer;
  font-size: 2rem;
  color: #ffffff;
  background-color: #373867;
  border: none;
}