.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0px;
  margin: 0 auto;
}

.header {
  width: 25vw;
  padding: 0.5rem;
  text-align: center;
  background-color: #232f3e;
}

.title {
  margin: 0.25rem;
  color: #ffffff;
}

.button {
  background-color: #232f3e;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.form {
  width: 25vw;
  padding: 0.5rem;
  background-color: #ffffff;
}

.labelInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.label {
  margin-bottom: 0.2rem;
  color: #373867;
  font-size: 0.75rem;
  font-weight: bold;
}

.input {
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 25vw;
}

.cancelButton {
  align-self: center;
  width: 130px;
  height: 36px;
  font-weight: 600;
  font-size: 1rem;
  color: #373867;
  background-color: #ffffff;
  border: 1px solid #373867;
  border-radius: 5px;
  cursor: pointer;
}

.addCreateButton {
  align-self: center;
  width: 130px;
  height: 36px;
  font-weight: 600;
  font-size: 1rem;
  color: #373867;
  background-color: #aace9b;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.disabled {
  display: none;
}
