.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 25vw;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  background-color: #232F3E;
}

.title {
  color: #ffffff;
  margin: 0.25rem;
}

.button {
  background-color: #232F3E;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.form {
  width: 25vw;
  padding: 0.5rem;
  background-color: #ffffff;
}

.labelInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}

.label {
  color: #373867;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.input {
  width: 100%;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  width: 25vw;
}

.cancelButton {
  align-self: center;
  width: 130px;
  height: 36px;
  font-weight: 600;
  font-size: 1rem;
  color: #373867;
  background-color: #ffffff;
  border: 1px solid  #373867;
  border-radius: 5px;
  cursor: pointer;
}

.addCreateButton {
  align-self: center;
  width: 130px;
  height: 36px;
  font-weight: 600;
  font-size: 1rem;
  color: #373867;
  background-color: #AACE9B;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

