.input {
  width: 100%;
  max-width: 400px;
  height: 30px;
  margin-right: 10px;
  color: #242024;
  border: 1px solid #242024;
  border-radius: 5px;
}

.label {
  display: block;
  padding: 5px;
  color: #242024;
  font-weight: 700;
  font-size: 1rem;
}

.textarea {
  width: 93%;
  padding: 10px;
  padding: 12px;
  font-size: 1em;
  text-align: justify;
  color: #242024;
  border: 1px solid #242024;
  border-radius: 5px;
  resize: none;
  width: 100%;
  max-width: 400px;
  height: 150px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 10px;
}