.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  min-height: 70px;
  background-color: #D9D9D9;
  border-top: solid 1px #000000;
}
.a {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
 color: #373867;
}

.notFound {
  color: #d10202;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}