.a {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #242024;
}

.darkContainer .a, .darkContainer th {
  color: #fff;
}

.container, .darkContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 3%;
}

.title {
 color: #242024;
}

.darkContainer .title {
  color: #fff;
}

.notFound {
  color: #d10202;
}

.input {
  width: 100%;
  max-width: 400px;
  height: 30px;
  margin-right: 10px;
  color: #242024;
  border: 1px solid #242024;
  border-radius: 5px;
}

.searchContainer {
    display: flex;
    align-self: flex-start;
    margin-bottom: 2%;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 30px;
}

.darkContainer label, .darkContainer .icon  {
  color: #fff;
}

.darkContainer input {
  color: #fff;
  background-color:#242024;
}

.searchContainer input {
  width: 250px;
}