.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  min-height: 70px;
  background-color: #D9D9D9;
  border-top: solid 1px #000000;
}

.a {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #242024;
}

.darkContainer .a, .darkContainer th {
  color: #fff;
}

.container, .darkContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
 color: #242024;
}

.darkContainer .title {
  color: #fff;
}

.notFound {
  color: #d10202;
}

.input {
  width: 17rem;
  height: 30px;
  margin-right: 10px;
  color: #242024;
  border: 1px solid #242024;
  border-radius: 5px;
}

.searchContainer {
    display: flex;
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 2%;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.darkContainer label, .darkContainer .searchContainer{
  color: #fff;
  display: flex;
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 2%;
}