.modal, .darkModal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000066;
}

.modal .modalContent {
  margin: 15% auto;
  width: 400px;
  border: 1px solid #24202466;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 23px #0000001f;
}

.darkModal .modalTitle, .darkModal .modalMessage {
  color: #fff;
}

.darkModal .modalContent {
  margin: 15% auto;
  width: 400px;
  border: 1px solid #24202466;
  border-radius: 4px;
  background-color: #19191b;
  box-shadow: 0px 5px 10px #ffffff1f;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #242024;
  font-size: 1em;
  font-weight: 700;
}

.modalCloser {
  cursor: pointer;
}

.modalMessage {
  padding: 0 16px;
  font-weight: 400;
  color: #242024;
}

.modalButtons {
  display: flex;
  justify-content: center;
}