.container{
  margin: 5% auto
}
.table {
  width: 100%;
  border-spacing: 0 5px;
}

.tableFilter {
  display: flex;
  align-items: center;
}

.filterInput{
  width: 25vw;
  height: 30px;
  margin-right: 10px;
  color: #373867;
  border: 1px solid #373867;
  border-radius: 5px;
}

.row {
  height: 40px;
  text-align: center;
  color: #373867;
  background-color: #ebebeb;
  font-size: 1rem;
  font-weight: 400;
}

.row:not(.selected):nth-child(odd) {
  background-color: #ffffff;
}

.row:not(.selected):nth-child(odd):hover {
  background-color: #c4bcbc;
}

.row:not(.selected):nth-child(even) {
  background-color: #ebebeb;
}

.row:not(.selected):nth-child(even):hover {
  background-color: #c0b6b6;
}

.selected {
  background-color: #373867;
  color: #ffffff;
}

.tableContainer {
  width: 90vw;
  margin-bottom: 10px;
}
