.loader {
 display: flex;
 align-items: center;
 justify-content: center;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
}

.thead {
  background-color: #f2f2f2;
}

.th {
  width: 20%;
  padding: 13px;
  vertical-align: middle;
  color: #373867;
  font-size: 1rem;
  font-weight: 700;
}


.td {
  padding: 13px 22px;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.tr:nth-child(2n) {
  background-color: #f2f2f2;
}

.button {
  width: 1rem;
  padding: 8px 12px;
  vertical-align: middle;
  text-align: center;
}

.buttonContainer button {
  width: 100%;
  margin: 0;
  font-size: 0.9rem;
}