.table {
  margin: 0 auto;
  border-collapse: collapse;
}

.tr {
  border-bottom: 1px solid #000000;
}

.th {
  width: 25%;
  padding: 13px 22px;
  vertical-align: middle;
  color: #373867;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #000000;
}


.td {
  padding: 13px 0;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}

.button {
  width: 1rem;
  padding: 13px 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}