.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}

table {
  flex: 1;
  width: 90%;
  border-collapse: collapse;
}

.containerThead {
  background-color: #f2f2f2;
}
.theadOptions {
  width: auto;
}
.containerThead th {
  text-align: center;
}

.line {
  width: 100%;
}

.item {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.itemButton {
  width: 5%;
  text-overflow: ellipsis;
  text-align: center;
}

.itemButtonEdit:hover {
  background-color: #aace9e;
}

.itemButtonDelete:hover {
  background-color: #d10202;
}

.td {
  padding: 8px;
  border: 1px solid #ccc;
}
