.modal {
  position: absolute;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin: 15% auto;
  width: 313px;
  min-height: 134px;
  overflow: hidden;
  background-color: #FFFFFF;
  border: 1px solid rgba(55, 56, 103, 0.4);
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #373867;
  font-size: 1em;
  font-weight: 700;
}

.modal-close {
  cursor: pointer;
}

.modal-message {
  padding: 0 16px;
  font-weight: 400;
  color: #373867;
}

.modal-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 6px;
  padding: 16px;
}

.modal-buttons .btn {
  width: 70px;
  height: 36px;
  color: #373867;
  border: 1px solid #373867;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.btn-submit {
  background-color: #AACE9B;
}

.btn-cancel {
  background-color: #FFFFFF;
}
