.content {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 10% auto;
  margin-top: 30px;
  height: 100%;
  width: 70%;
  border-radius: 7px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1.5s;
}

.header h2 {
  margin: 0;
  align-self: center;
  font-size: 25px;
  line-height: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #373867;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.label_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close_button {
  color: #fff;
  font-size: 30px;
}

.close_button:hover,
.close_button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-family: 'Roboto', Arial, serif;
  font-size: 17px;
  line-height: 1.6;
}

.container_button, .reset_button {
  text-align: center;
}

.reset_button button {
  background-color: grey;
}

.input {
  width: 25vw;
  height: 30px;
  margin-right: 10px;
  color: #373867;
  border: 1px solid #373867;
  border-radius: 5px;
}

.label {
  display: block;
  padding: 5px;
  color: #373867;
  font-weight: 700;
  font-size: 1rem;
}
