.space {
  width: 75%;
  padding: 2rem;
  border-collapse: collapse;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-input {
  width: 15rem;
  margin: 1rem;
  border: 1px solid #373867;
  border-radius: 3px;
}

.column {
  padding: 0 1rem;
}
