.container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #373867;
}

.container2{
  display: flex;
  align-items: center;
  padding-right: 2%;
}

.socialIcon {
  margin-left: 15px;
}
.logOutIcon{
  margin-left: 5px;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.a {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.optionContainer {
  display: flex;
  align-items: center;
}

.profileLink {
  text-decoration: none;
  color: #ffffff;
}

.profileContainer {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  font-weight: 600;
}

.profileImg {
  width: 2rem;
  margin-right: 1rem;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.logoutButton button {
  width: 6rem;
  height: 2rem;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 2rem;
  }

  .navbar {
    padding: 0 2rem;
  }
}