.containerHome {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #242024 0%, rgba(35,31,33,1) 100%);
  z-index: 100;
}

.containerPage {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #242024 0%, rgba(35,31,33,1) 100%);
  z-index: 100;
}

.container2{
  display: flex;
  align-items: center;
  padding-right: 2%;
}

.socialIcon {
  margin-left: 15px;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.a {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #242024;
}

.optionContainer {
  display: flex;
  align-items: center;
}

.profileLink {
  text-decoration: none;
  color: #ffffff;
}

.profileContainer {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  font-weight: 600;
}

.profileImg {
  width: 3.5rem;
  margin-right: 1rem;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.logOutButtonContainer{
  display: flex;
  justify-content: flex-end;
  width: 150px;
}

.logOutButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2rem;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.logOutButton:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.logOutButton:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 8px;
}

.logOutButton:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.logOutButton:active {
  transform: translate(2px ,2px);
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 2rem;
  }

  .navbar {
    padding: 0 2rem;
  }
}
