.tableContainer {
  display: flex;
  flex-direction: column;
}

.table {
  width: 90vw;
  border-spacing: 0 5px;
  margin: auto;
  
}

.tableFilter {
  display: flex;
  align-items: center;
  width: 75%;
}

.tableInputFilter {
  width: 25vw;
  height: 30px;
  margin-right: 10px;
  color: #373867;
  border: 1px solid #373867;
  border-radius: 5px;
}

.tableError {
  margin: 0;
  padding: 0;
  color: #F13312;
}

.title {
  margin: 0;
  padding: 0;
  color: #373867;
  font-size: 2rem;
}

.activityState {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  color: #373867;
  font-weight: 600;
}

.activityActive {
  border-bottom: 3px solid #aace9b;
}

.activityInactive {
  border-bottom: 3px solid #d10202;
}

.row {
  height: 40px;
  text-align: center;
  color: #373867;
  background-color: #ebebeb;
  font-size: 1rem;
  font-weight: 400;
}

.row:not(.selected):nth-child(odd) {
  background-color: #ffffff;
}

.row:not(.selected):nth-child(odd):hover {
  background-color: #c4bcbc;
}

.row:not(.selected):nth-child(even) {
  background-color: #ebebeb;
}

.row:not(.selected):nth-child(even):hover {
  background-color: #c0b6b6;
}
