.container {
  display: flex;
  justify-content: center;
}

.tableContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  min-height: 300px;
  max-height: 500px;
  overflow-y: auto;
}

.darkTableContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  min-height: 300px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #302c30;
}

.darkTableContainer .table, .table {
    width: 90vw;
    border-spacing: 0 5px;
    margin: auto;
}

.tableHeader th {
  position: sticky;
  top: 0;
  padding-bottom: 5px;
  background-color: #fff;
}

.darkTableContainer .tableHeader th {
  position: sticky;
  top: 0;
  padding-bottom: 5px;
  background-color: #302c30;
}

.darkTableContainer .tableHeader {
  color: #ffffff;
}

.filterContainer {
  display: flex;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 1%;
}

.darkInputContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 1%;
  color: #ffffff;
}

.darkInputContainer label {
  color: #ffffff;
}

.darkInputContainer input {
  background-color: #242024;
  color: #fff;
}

.darkInputContainer ::placeholder {
  color: #a1a1a1;
}

.inputContainer label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

.filter {
  text-align: center;
  color:#242024;
  font-size: 21px;
  font-weight: bold;
}

.icon {
  margin-top: 37px;
}

.darkIcon {
  margin-top: 37px;
  color: #ffffff;
}

.activityState {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  color: #242024;
  font-weight: 600;
}

.darkTableContainer .activityState {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
}

.editButton, .deleteButton {
  cursor: pointer;
  margin-right: 10px;
  color: #242024;
}

.darkTableContainer .editButton, .darkTableContainer .deleteButton {
  cursor: pointer;
  color: #ffffff;
}

.activityActive {
  border-bottom: 3px solid #f88d5c;
}

.activityInactive {
  border-bottom: 3px solid #d10202;
}

.row td {
  height: 40px;
  text-align: center;
  color: #242024;
  font-size: 1rem;
  font-weight: 400;
}

.darkTableContainer .row td {
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.row:not(.selected):nth-child(odd) {
  background-color: #ffffff;
}

.row:not(.selected):nth-child(odd):hover {
  background-color: #c4bcbc;
}

.row:not(.selected):nth-child(even) {
  background-color: #ebebeb;
}

.row:not(.selected):nth-child(even):hover {
  background-color: #c0b6b6;
}

.darkTableContainer .row:not(.selected):nth-child(odd) {
  background-color: #19191b;
  color: #fff;
}

.darkTableContainer .row:not(.selected):nth-child(even) {
  background-color: #302c30;
}

.spanTrainer::before {
  content: " - ";
}

.spanTrainer:first-child::before {
  content: "";
}