.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 101px;
  padding: 0 5%;
  min-height: 70px;
  background-color: #D9D9D9;
}

.routes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  padding: 0;
  list-style-type: none;
}

.a {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}