
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;

}

.link{
  text-decoration: none;
}

.logoContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 90px;
  transform: rotate(20deg);
}

.mega{
  color:#e2e1e9;
  font-size: 1.3rem;
  font-weight: 650;
  transform: translate(-10px, -10px);
}

.rocket{
  color: #ddd8e9;
  font-size: 1.4rem;
  font-weight: 600;
  transform: translate(-55px, 10px);

}

.buttonContainer{
  display: flex;
}

.routes {
  display: flex;
  list-style-type: none;
}

.a {
  margin-left: 25px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}
.active{
  text-decoration: underline;
}