.container, .darkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
}

.space {
  width: 90%;
  padding: 2rem;
  border-collapse: collapse;
}

.filterContainer {
  display: flex;
}

.trainerDarkContainer {
  color: #fff;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-left: 13%;
  margin-bottom: 2%;
}

.inputContainer ::placeholder {
  color: #000;
}

.filterContainer .filter {
  text-align: center;
  color:#242024;
  font-size: 21px;
  font-weight: bold;
}

.trainerDarkContainer input {
  background-color: #242024;
  color: #fff;
}

.trainerDarkContainer ::placeholder {
  color: #a2a0a2;
}

.trainerDarkContainer label {
  color: #fff;
}

.icon {
  margin-top: 37px;
}

.column {
  position: sticky;
  top: 0;
  padding: 0.33rem 1rem;
  background-color: #fff;
  transition: background-color 1s;
}

.darkContainer .column {
  position: sticky;
  top: 0;
  padding: 0.33rem 1rem;
  background-color: #302c30;
}
