.table {
  width: 90%;
  border-spacing: 0 5px;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-input {
  width: 25vw;
  height: 30px;
  margin-right: 10px;
  color: #373867;
  border: 1px solid #373867;
  border-radius: 5px;
}

.column {
  padding: 0 1rem;
}
