.table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
}

.tr {
  border-bottom: 1px solid black;
}

.th {
  color: #373867;
  width: 20%;
  padding: 13px 22px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
}


.td {
  padding: 13px 0;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}

.button {
  width: 1rem;
  padding: 0.25rem;
  cursor: pointer;
}

