.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.table {
  width: 75%;
  border-collapse: collapse;
}
.trow {
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  border-bottom: thin solid;
}
.tdata,
.thead {
  width: 22%;
  text-align: center;
}
.extrathead {
  width: 6%;
}
.addItem {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.actionButtons {
  display: flex;
  justify-content: space-between;
  width: 6%;
}
