.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.table {
  width: 75%;
  border-collapse: collapse;
}
.trow {
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  border-bottom: thin solid;
}
.tdata,
.thead {
  width: 22%;
  text-align: center;
}
.extrathead {
  width: 60px;
}
.addItem {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  border: none;
  margin: 10px;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  outline: none;
}
.actionButtons {
  display: flex;
  justify-content: space-between;
}
