.modal {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: fit-content;
  padding: 1%;
  box-shadow: 0px 10px 23px #1E1E1E;
  border-radius: 5px;
  background-color: #AACE9B;
  color: #373867;
}
.text{
  margin-right: 25px;
}
.button{
  font-weight: 800;
}