.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnDelete {
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #373867;
  background-color:#aace9e;
  border: none;
}