.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 4rem;
  text-align: center;
}
.containerContent{
  display: flex;
  flex-direction: row;
}
.btnCreate {
  align-self: center;
  width: 260px;
  height: 72px;
  font-weight: 600;
  font-size: 2rem;
  color: #373867;
  background-color: #AACE9B;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
}