.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnCreate {
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #373867;
  background-color:#aace9e;
  border: none;
}

.btnDelete {
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #373867;
  background-color:#aace9e;
  border: none;
}

.btnDelete:hover{
  background-color:#358a19;
}

td {
  padding: 0 15px 0 15px;
}

tr:hover {
  background-color: #aace9e;
}