.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.title {
  font-size: 2rem;
  text-align: center;
  color: #242024;
}

.button {
  display: flex;
  justify-content: center;
}