.container, .darkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  text-align: center;
  color: #242024;
}

.darkContainer .title {
  color: #fff;
}

.button {
  display: flex;
  justify-content: center;
}