.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.h2 {
  font-size: 2rem;
  color: #373867;
  margin-top: 1rem;
  margin-bottom: 0;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #373867;
}

.label {
  display: block;
  padding: 5px;
  color: #373867;
  font-weight: 700;
  font-size: 1rem;
}

.select {
  width: 25.5vw;
  height: 36px;
  margin-right: 10px;
  color: #373867;
  border: 1px solid #373867;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; 
  margin: 1.5rem 0;
  border: 1px solid #EBEBEB;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 20px;
}

.buttonContainer {
  display: flex;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
