.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15%;
  background-color: #242024;
  color: #f5e8e8;
}

.mainTitle {
  display: flex;
  align-items: center;
}

.mainTitle .logo {
  width: 90px;
  transform: rotate(20deg);
}

.titleMega {
  color: #e2e1e9;
  font-size: 1.3rem;
  font-weight: 650;
  transform: translate(-10px, -10px);
}

.titleRocket {
  color: #ddd8e9;
  font-size: 1.4rem;
  font-weight: 600;
  transform: translate(-55px, 10px);
}

.copyright {
  font-size: 0.9rem;
  font-style: italic;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

.social a > img {
  width: 25px;
  margin: 0 25px;
}

.navigators {
  display: flex;
  justify-content: flex-start;
}

.navigators ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.itemList {
  padding: 5% 0;
  border-bottom: 1px solid gray;
  font-size: 0.9rem;
  font-weight: 600;
}

.itemList > span {
  font-style: italic;
  font-weight: 500;
}