.tableContainer, .darkTableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.filterContainer, .darkFilterContainer {
  display: flex;
}

.darkFilterContainer, .darkTableContainer .table td {
  color: #fff;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-left: 13%;
  margin-bottom: 1%;
}

.darkFilterContainer input {
  background-color: #19191b;
  color: #fff;
}

.darkFilterContainer label, ::placeholder {
  color: #fff;
}

.filterContainer ::placeholder {
  color: #19191b;
}

.filter {
  text-align: center;
  color:#242024;
  font-size: 21px;
  font-weight: bold;
}

.icon {
  margin-top: 37px;
}

.tableContainer, .darkTableContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  min-height: 300px;
  height: 300px;
  max-height: 300px;
  overflow: auto;
}

.table {
  width: 100%;
  height: 100%;
  border-spacing: 0 5px;
  margin: auto;
}

.table-filter {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.table-input-filter {
  width: 25vw;
  height: 30px;
  margin-right: 10px;
  color: #242024;
  border: 1px solid #242024;
  border-radius: 5px;
}

.table-header {
  color: #242024;
}

.row {
  height: 40px;
  text-align: center;
  color: #242024;
  background-color: #ebebeb;
  font-size: 1rem;
  font-weight: 400;
}

.darkTableContainer .editButton, .darkTableContainer .deleteButton {
  color: #fff;
  cursor: pointer;
}

.editButton {
  color: #242024;
}

.darkTableContainer tr th {
  color: #fff;
}

.row:not(.selected):nth-child(odd) {
  background-color: #ffffff;
}

.row:not(.selected):nth-child(odd):hover {
  background-color: #c4bcbc;
}

.row:not(.selected):nth-child(even) {
  background-color: #ebebeb;
}

.row:not(.selected):nth-child(even):hover {
  background-color: #c0b6b6;
}

.darkTableContainer .row:not(.selected):nth-child(even) {
  background-color: #19191b;
  color: #fff;
}

.darkTableContainer .row:not(.selected):nth-child(odd) {
  background-color: #302c30;
  color: #fff;
}

.table-buttons {
  width: 17.5px;
  height: 17.5px;
  cursor: pointer;
}

.table-error {
  padding-right: 10px;
  color: #F13312;
}

.memberState {
  display: inline-block;
  padding: 4px;
  width: 65px;
  border-radius: 4px;
  color: #242024;
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 24px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d10202;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchInput:checked + .slider {
  background-color: #aace9b;
}

.switchInput:focus + .slider {
  box-shadow: 0 0 1px #aace9b;
}

.switchInput:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider:before {
  border-radius: 50%;
}

.darkContainer h1 {
  color: #fff;
}