.table-container {
  display: flex;
  flex-direction: column;
}

.table-filter {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.table-input-filter {
  width: 25vw;
  height: 30px;
  margin-right: 10px;
  color: #373867;
  border: 1px solid #373867;
  border-radius: 5px;
}

.table {
  width: 90vw;
  border-spacing: 0 5px;
  margin: auto;
}

.table-header {
  color: #373867;
}

.row {
  height: 40px;
  text-align: center;
  color: #373867;
  background-color: #ebebeb;
  font-size: 1rem;
  font-weight: 400;
}

.row:not(.selected):nth-child(odd) {
  background-color: #ffffff;
}

.row:not(.selected):nth-child(odd):hover {
  background-color: #c4bcbc;
}

.row:not(.selected):nth-child(even) {
  background-color: #ebebeb;
}

.row:not(.selected):nth-child(even):hover {
  background-color: #c0b6b6;
}

.table-buttons {
  width: 17.5px;
  height: 17.5px;
  cursor: pointer;
}

.table-error {
  padding-right: 10px;
  color: #F13312;
}

.memberState {
  display: inline-block;
  padding: 4px;
  width: 65px;
  border-radius: 4px;
  color: #373867;
  font-weight: 600;
}

.memberActive {
  border-bottom: 3px solid #aace9b;
}

.memberInactive {
  border-bottom: 3px solid #d10202;
}