.content {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 10% auto;
  margin-top: 30px;
  padding-bottom: 1.5rem;
  height: 100%;
  width: 70%;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 5px 8px 0 #33333333, 0 7px 20px 0 #2b2b2b2b;
}

.darkFormContainer .content {
  display: flex;
  flex-direction: column;
  background-color: #242024;
  margin: 10% auto;
  margin-top: 30px;
  padding-bottom: 1.5rem;
  height: 100%;
  width: 70%;
  border-radius: 7px;
  box-shadow: 0px 2px 2px #ffffff40;
}

.formContainer, .darkFormContainer {
  display: flex;
  justify-content: center;
}

.p {
  font-family: 'Roboto', Arial, serif;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 700;
  color: #242024;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  height: 100%;
}

.formTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242024;
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.inputContainer {
  display: flex;
  justify-content: center;
}

.inputFields {
  margin-right: 20px;
}

.formTitle h2 {
  margin-left: 2%;
}

.editButton{
  margin-right: 2%;
}

.closeButton {
  margin-right: 2%;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-family: 'Roboto', Arial, serif;
  font-size: 17px;
  line-height: 1.6;
}

.darkFormContainer .form input {
  background-color: #fff;
  color: #19191b;
}

.darkFormContainer label, .darkFormContainer a {
  color: #fff;
}

.form input {
  margin: 0;
}

.confirm_button {
  display: flex;
  margin: auto;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.input {
  width: 25vw;
  height: 30px;
  margin-right: 10px;
  color: #242024;
  border: 1px solid #242024;
  border-radius: 5px;
}

.label {
  display: block;
  padding: 5px;
  color: #242024;
  font-weight: 700;
  font-size: 1rem;
}

.changePassContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.containerButton {
  display: flex;
}

.reset {
  display: flex;
  justify-content: center;
}

.darkFormContainer .reset {
  color: #fff;
}
