.title {
  font-size: 2rem;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}
