button {
  align-self: flex-end;
  width: 130px;
  height: 36px;
  margin: 0 60px 50px 0;
  background-color: #AACE9B;
  font-weight: 600;
  color: #373867;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.container h2 {
  align-self: flex-start;
  font-size: 2rem;
  font-weight: 700;
  color: #373867;
  margin-left: 45px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

